@media (width < 1024px) {
  .productos figure {
    width: 40%;
  }
}

@media (width < 768px) {
  /* nav */
  .productos figure {
    flex-direction: column;
    width: 80%;
  }
}

@media (width < 576px) {
  /* nav */
  .productos figure {
    flex-direction: column;
    width: 100%;
  }
}

.productos figure button {
  width: 80%;
}
