//variables

//Color Fondo
$colorfondo: white;

//Variables Nav
$navFontFamly: "Roboto", sans-serif;
$navFontSize: large;
$navColor: #f15a29;

//Variables Header
$headerFontFamily: "Roboto", sans-serif;
$headerFontSize: xx-large;
$headerColor: #f15a29;
$headerTextAlign: center;
$headerTextDecoration: solid;

//Variables Titulo
$tituloFontFamily: "Roboto", sans-serif;
$tituloFontSize: xx-large;
$tituloColor: #f15a29;
$tituloTextAlign: center;

//Texto
$textoColor: #f15a29;
$textoFontFamily: "Roboto", sans-serif;

//FigCaption
$figCaptionColor: #231f20;
